@charset "utf-8";
/* CSS Document */

header {
	font-size: 2em;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	letter-spacing: .3em;
}

#classname {
	font-size: .7em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .2em;
}
#wrapper {
	background-color: #FFF;
	width: 75%;
	margin: auto;
	padding: 3.5%;
	
}

section {
	width: 55%;
	margin: auto;
}
